<ion-view view-title="Add Veilles">
   <ion-content class="padding">

     <div class="list">
       <label class="item item-input item-stacked-label">
         <span class="input-label">Title</span>
         <input type="text" ng-model=''>
       </label>
       <label class="item item-input item-stacked-label">
         <span class="input-label">Sources</span>
         <input type="text" ng-model=''>
       </label>
       <label class="item item-input item-stacked-label">
         <span class="input-label">Link</span>
         <input type="text" ng-model=''>
       </label>
       <label class="item item-input item-stacked-label">
         <span class="input-label">Description</span>
         <input type="text" ng-model=''>
       </label>
       <br>
      <label class="item">
        <input type="submit" value="Add veille" ng-click="login()">
      </label>
     </div>

   </ion-content>
 </ion-view>
