<ion-view view-title="User">
  <ion-content class="padding">
    <ul class="list">
      <li class="item">
        <p> Prénom : {{user.firstname}}</p>
      </li>
      <li class="item">
        <p> Nom : {{user.name}}</p>
      </li>
      <li class="item">
        <p> Promo : {{user.promo}}</p>
      </li>
      <li class="item">
        <p>Email : {{user.email}}</p>
      </li>
    </ul>
  </ion-content>
  <ion-item class="item item-body" ng-repeat="veille in veilles" href="#/tab/veilles/{{veille.id}}">
    <h2>{{veille.title}}</h2>
    <p>{{veille.description}}</p>
    <p>{{veille.type}}</p>
    <p>{{veille.date}}</p>
  </ion-item>
</ion-view>
