<ion-view view-title="Toutes nos veilles">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="veille in veilles" type="item-text-wrap" href="#/tab/veilles/{{veille.id}}">
      <ul class="list">
        <li class="item">
          <p> Titre : {{veille.title}} </p>
        </li>
        <li class="item">
          <p> Type : {{veille.type}} </p>
        </li>
        <li class="item">
          <p> Description : {{veille.description}} </p>
        </li>
        <li class="item">
         <p> Date : {{veille.date}} </p>
        </li>
      </ul>
        <i class="icon ion-ios-eye "></i>
    </ion-list>
  </ion-content>
</ion-view>
