<ion-view view-title="Veille">
  <ion-content class="padding">
  <ul class="list">
    <li class="item">
      <p> Titre : {{veille.title}} </p>
    </li>
    <li class="item">
      <p> Description : {{veille.description}} </p>
    </li>
    <li class="item">
      <p> Date : {{veille.date}} </p>
    </li>
    <li class="item">
     <p> Par : <a href="#/tab/users/{{veille.user[0].id}}"> {{veille.user[0].firstname}}</a> </p>
    </li>
  </ul>
  </ion-content>
</ion-view>
