<ion-view view-title="Connexion">
   <ion-content class="padding">

     <div class="list">
       <label class="item item-input item-stacked-label">
         <span class="input-label">Email</span>
         <input type="text" ng-model='data.email'>
       </label>
       <label class="item item-input item-stacked-label">
         <span class="input-label">Password</span>
         <input type="text" ng-model='data.password'>
       </label>
       <br>
      <label class="item">
        <input type="submit" value="SIGN IN" ng-click="login()">
      </label>
     </div>

   </ion-content>
 </ion-view>
