<ion-view view-title="Les users">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="user in users" type="item-text-wrap" href="#/tab/users/{{user.id}}">
      <ul class="list">
        <li class="item">
          {{user.firstname}}
        </li>
      </ul>
      <i class="icon ion-ios-eye "></i>
    </ion-list>
  </ion-content>
</ion-view>
